/* My custom CSS goes here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #222;
}

h1 {
    color: #888;
    background: #444;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888;
    border: none;
}
div.time {
    text-align: center;
    padding-block: 10px;
    color: #888;
    text-shadow: 2px 2px #444;
    font-size: 18px;
}