/* My custom CSS goes here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #222;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    color: #ccc;
    display: flex;
}

.nav-item, .nav-item, a {
    color: #ccc;
    text-decoration: none;
    padding: 5px;
    display: flex;
    transition: all 500ms;
}

nav .current {
    color: #fff;
    text-shadow: 2px 2px 2px #888;
}

.nav-item:hover, .nav-item:hover, a:hover {
    background: #666;
}

i {
    padding-inline-end: 5px;
}

.container {

    max-width: 75%;
    min-width: 50%;
    text-align: center;
    display: block;
    max-height: 90%;

}

h1 {
    color: #888;
    background: #444;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888;
    border: none;
}
div.time {
    text-align: center;
    padding-block: 10px;
    color: #888;
    text-shadow: 2px 2px #444;
    font-size: 18px;
}

article {
    padding: 10px;
    margin: 10px;
    color: #ccc;
    background: #333;
    z-index: 0;
    border-radius: 15px;
}
p {
    text-align: justify;
    padding-block: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    padding-block: 5px;
}

li {
    list-style: none;
    width: 100%;
}

.steps {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    gap: 5px;
}

.step {
    list-style: upper-roman;
    background-color: #444;
    padding: 10px;
}

.step img {
    width: 100%;
}

.step a, .step code {
    color: aqua;
    cursor: pointer;
    padding: 5px;
}

.step a:hover, .step code:hover {
    background-color: #888;
}

.steps {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    gap: 5px;
}

.step {
    list-style: upper-roman;
    background-color: #444;
    padding: 10px;
    display: inline;
}

.step img {
    width: 100%;
}

.step a, .step code {
    color: aqua;
    cursor: pointer;
    padding: 5px;
    display: inline;
}

.step a:hover, .step code:hover {
    background-color: #888;
}

article h3 {
    text-align: start;
}

article a {
    max-width: fit-content;
    border-radius: 10px;
}

#projectlist {
    display: flex;
    flex-direction: column-reverse;
}